<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="content">
    <h2>Select Document:</h2>
    <form action="/" method="POST">
      <select name="filesName" id="files">
        <option value="">---------</option>
        <% if (filesName.length > 0) { %>
          <% filesName.forEach(file => { %>
            <option value=<%= file %>><%= file %></option>
          <% }) %>
        <% } else { %>
            <p>There are no file to display...</p>
        <% } %>
 
      </select>
      <br><br>
		

      <h3><a onclick="toggleDiv('pdfInfo')"><img id="pdfInfoIMG" src="./images/right.gif" border="0"/> PDF document Meta Data</a></h3>
        <div id="pdfInfo" style="display: none;">
      		Choose the PDF version: 
      		<select name="pdfVersion">
      		 <option value="1.3" selected>1.3</option> 
      		 <option value="1.4">1.4</option>
      		 <option value="1.5">1.5</option>
      		 <option value="1.6">1.6</option> 
      		 <option value="1.7">1.7</option>
      		 <option value="1.7ext3">1.7ext3</option>
      		</select>
      		<br/>Should copying from the PDF content be allowed? 
      		<input type="radio" name="copyAllowed" value="1" checked> Yes 
      		<input type="radio" name="copyAllowed" value="0"> No
      		<br/>Indicate PDF author if you want any: 
          <input type="text" name="customizedAuthor" value="">
        </div>	
      



      <h3><a onclick="toggleDiv('pageLayout')"><img id="pageLayoutIMG" src="/images/right.gif" border="0"/> Page layout, font size, etc.</a></h3>
      		
      <div id="pageLayout" style="display: none;">
      		Font size: 
      		<select name="baseFontSize">
      			<option value="8">8pt</option>
      			<option value="9">9pt</option>
      			<option value="10">10pt</option>
      			<option value="11">11pt</option>
      			<option value="12" selected>12pt</option>
      			<option value="14">14pt</option>
      			<option value="17">17pt</option>
      			<option value="20">20pt</option>
      		</select>
      		
      		
      		<br/>Page size: 
      		<select name="pageSize">		
      			<option value="LETTER">LETTER (8.5 x 11")</option>
      			<option value="EXECUTIVE">EXECUTIVE (7.25 x 10.5")</option>
      			<option value="LEGAL">LEGAL (8.5 x 14")</option>
      			<option value="A0">A0 paper</option>
      			<option value="A1">A1 paper</option>
      			<option value="A2">A2 paper</option>
      			<option value="A3">A3 paper</option>
      			<option value="A4" selected>A4 paper (210 x 297mm)</option>
      			<option value="A5">A5 paper (148 x 210mm)</option>
      			<option value="A6">A6 paper</option>
      			<option value="A7">A7 paper</option>
      			<option value="A8">A8 paper</option>
      			<option value="A9">A9 paper</option>
      			<option value="A10">A10 paper</option>
      			<option value="B0">B0 paper</option>
      			<option value="B1">B1 paper</option>
      			<option value="B2">B2 paper</option>
      			<option value="B3">B3 paper</option>
      			<option value="B4">B4 paper</option>
      			<option value="B5">B5 paper (176 x 250mm)</option>
      			<option value="B6">B6 paper</option>
      			<option value="B7">B7 paper</option>
      			<option value="B8">B8 paper</option>
      			<option value="B9">B9 paper</option>
      			<option value="B10">B10 paper</option>
      			<option value="C0">C0 paper</option>
      			<option value="C1">C1 paper</option>
      			<option value="C2">C2 paper</option>
      			<option value="C3">C3 paper</option>
      			<option value="C4">C4 paper</option>
      			<option value="C5">C5 paper</option>
      			<option value="C6">C6 paper</option>
      			<option value="C7">C7 paper</option>
      			<option value="C8">C8 paper</option>
      			<option value="C9">C9 paper</option>
      			<option value="C10">C10 paper</option>
      			<option value="AR0">AR0</option>
      			<option value="AR1">AR1</option>
      			<option value="AR2">AR2</option>
      			<option value="AR3">AR3</option>
      			<option value="AR4">AR4</option>
      			<option value="SRA0">SRA0</option>
      			<option value="SRA1">SRA1</option>
      			<option value="SRA2">SRA2</option>
      			<option value="SRA3">SRA3</option>
      			<option value="SRA4">SRA4</option>
     		</select>
      		<br/>Margins in points (72 point = 1 inch): <br/>
      		<table>
      		<tr>
      		<td></td><td align="center">Top margin<br/>
      		<input type="text" size="3" value="146" name="marginTop"/>
      		</td><td></td>
      		</tr>
      		<tr>
      		<td align="center">Inner margin<br/>
      		<input type="text" size="3" value="128" name="marginInner"/></td>
      		<td></td>
      		<td align="center">Outer margin<br/>
      		<input type="text" size="3" value="128" name="marginOuter"/></td>
      		</tr>
      		<tr>
      		<td></td><td align="center">Bottom margin<br/>
      		<input type="text" size="3" value="155" name="marginBottom"/></td><td></td>
      		</tr>
      		</table>
      </div>

      <h3><a onclick="toggleDiv('pageNumbering')"><img id="pageNumberingIMG" src="./images/right.gif" border="0"/> Page numbering</a></h3>
      <div id="pageNumbering" style="display: none;">
      		Page numbering style: 
      		<br/>Should the document have page numbering?
      		<input type="radio" name="pageNumbering" value="1" checked> Yes 
      		<input type="radio" name="pageNumbering" value="0"> No
      </div>	
      
           
      <h3><a onclick="toggleDiv('docTitle')"><img id="docTitleIMG" src="./images/right.gif" border="0"/> Document title </a></h3>
      <div id="docTitle" style="display: none;">
      		Do you want to print the document title? (<strong>Specify</strong> if it's other than <strong>'titlepart'</strong>)
          <input type="text" name="customizedTitle" value="">
      		<input type="radio" name="printTitle" value="1" checked> Yes 
      		<input type="radio" name="printTitle" value="0"> No
      		<br/>How big should we print the title?
      		<select name="printTitleSize">
      			<option value="8">8pt</option>
      			<option value="9">9pt</option>
      			<option value="10">10pt</option>
      			<option value="11">11pt</option>
      			<option value="12">12pt</option>
      			<option value="14">14pt</option>
      			<option value="17" selected>17pt</option>
      			<option value="20">20pt</option>
      		</select>
      

      </div>

      <h3><a onclick="toggleDiv('TeiConfig')"><img id="TeiConfigIMG" src="./images/right.gif" border="0"/> TEI elements selection </a></h3>
      <div id="TeiConfig" style="display: none;">
      		Should these TEI tags be present on PDF document? (If there is any)
          <ul style="margin-left:40px;">
          <br/>
            <li>
          		docDate: 
              <input type="radio" name="docDate" value="1" checked> Yes 
          		<input type="radio" name="docDate" value="0"> No
            </li>
            <li>
          		regesto: 
              <input type="radio" name="regesto" value="1" checked> Yes 
          		<input type="radio" name="regesto" value="0"> No
            </li>

            <li>
          		orig_doc: 
              <input type="radio" name="orig_doc" value="1" checked> Yes 
          		<input type="radio" name="orig_doc" value="0"> No
            </li>

            <li>
          		biblio: 
              <input type="radio" name="biblio" value="1" checked> Yes 
          		<input type="radio" name="biblio" value="0"> No
            </li>
          </ul>
     

      </div>




      <br><br><br>


      <input type="submit" value="Submit">
    </form>
   
  </div>
  <%- include("./partials/footer.ejs") %>
</body>
</html>
